## Datetime

* Useful module : datetime, timedelta

In [13]:
from datetime import datetime, timedelta

# datetime
print(datetime(year = 2021, month = 9, day = 12, hour = 10, minute = 30, second = 15))

# datenow
print(f'date now: {datetime.now()}')

# timedelta
print(f'date yesterday: {datetime.now() - timedelta(days = 1)}')

# extract year, month, etc
now = datetime.now()
print(f'year: {now.year}, month: {now.month}')

2021-09-12 10:30:15
date now: 2021-09-12 08:46:37.521677
date yesterday: 2021-09-11 08:46:37.521677
year: 2021, month: 9

## Numpy
* Useful module : arange, array

In [20]:
import numpy as np

# normal numpy way
date_list = np.array(['2021-07-01', '2021-07-02', '2021-07-03'], dtype='datetime64')
print(f' Daily precision: {date_list}')

date_list = np.array(['2021-07-01', '2021-07-02', '2021-07-03'], dtype='datetime64[Y]')
print(f' Yearly precision: {date_list}')

# arange way
date_list = np.arange('2021-07-01', '2021-07-05', dtype='datetime64[D]')
print(f' Range way: {date_list}')

 Daily precision: ['2021-07-01' '2021-07-02' '2021-07-03']
 Yearly precision: ['2021' '2021' '2021']
 Range way: ['2021-07-01' '2021-07-02' '2021-07-03' '2021-07-04']

## Pandas
* Useful module : date_range, resample, shift, rolling, diff

In [25]:
import pandas as pd

# date_range
date_list = pd.date_range(start = '2021-07-01', end='2021-07-05')
print(date_list)

# periods
date_list = pd.date_range(start = '2021-07-01', periods = 10)
print(date_list)

# min, max
date_list.min()

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-10'],
              dtype='datetime64[ns]', freq='D')

Timestamp('2021-07-01 00:00:00', freq='D')

## Resample, Shift, Roll, Difference

In [51]:
# create dummy data
np.random.seed(123)
period = 12
ts_range = pd.date_range('2020-01-01', freq='MS', periods=period)
df = pd.DataFrame(np.random.rand(period, 1), columns=['value'], index=ts_range)
df

               value
2020-01-01  0.696469
2020-02-01  0.286139
2020-03-01  0.226851
2020-04-01  0.551315
2020-05-01  0.719469
2020-06-01  0.423106
2020-07-01  0.980764
2020-08-01  0.684830
2020-09-01  0.480932
2020-10-01  0.392118
2020-11-01  0.343178
2020-12-01  0.729050

### Resample

In [56]:
# resample
print('Resample: Yearly Total')
print(df.resample(rule = 'Y').sum())

print('\nResample: Quarterly Mean')
print(df.resample(rule = 'Q').mean())

Resample: Yearly Total
               value
2020-12-31  6.514221

Resample: Quarterly Mean
               value
2020-03-31  0.403153
2020-06-30  0.564630
2020-09-30  0.715509
2020-12-31  0.488115

### Shift

In [53]:
# Shift
df_shift = df.copy()
df_shift['shift1'] = df_shift.shift(periods = 1)
df_shift

               value    shift1
2020-01-01  0.696469       NaN
2020-02-01  0.286139  0.696469
2020-03-01  0.226851  0.286139
2020-04-01  0.551315  0.226851
2020-05-01  0.719469  0.551315
2020-06-01  0.423106  0.719469
2020-07-01  0.980764  0.423106
2020-08-01  0.684830  0.980764
2020-09-01  0.480932  0.684830
2020-10-01  0.392118  0.480932
2020-11-01  0.343178  0.392118
2020-12-01  0.729050  0.343178

In [54]:
# unshift
df_shift = df.copy()
df_shift['shift1'] = df_shift.shift(periods = -1)
df_shift

               value    shift1
2020-01-01  0.696469  0.286139
2020-02-01  0.286139  0.226851
2020-03-01  0.226851  0.551315
2020-04-01  0.551315  0.719469
2020-05-01  0.719469  0.423106
2020-06-01  0.423106  0.980764
2020-07-01  0.980764  0.684830
2020-08-01  0.684830  0.480932
2020-09-01  0.480932  0.392118
2020-10-01  0.392118  0.343178
2020-11-01  0.343178  0.729050
2020-12-01  0.729050       NaN

### Rolling or Moving Average

In [55]:
# Rolling or Moving Average
df_rolling = df.copy()
df_rolling['QuarterRolling'] = df_rolling['value'].rolling(window = 3).mean()
df_rolling

               value  QuarterRolling
2020-01-01  0.696469             NaN
2020-02-01  0.286139             NaN
2020-03-01  0.226851        0.403153
2020-04-01  0.551315        0.354769
2020-05-01  0.719469        0.499212
2020-06-01  0.423106        0.564630
2020-07-01  0.980764        0.707780
2020-08-01  0.684830        0.696233
2020-09-01  0.480932        0.715509
2020-10-01  0.392118        0.519293
2020-11-01  0.343178        0.405409
2020-12-01  0.729050        0.488115

### Differencing

In [58]:
# 1st order differencing
df_diff = df.copy()
df_diff['diff1'] = df_diff['value'].diff(periods = 1)
df_diff

               value     diff1
2020-01-01  0.696469       NaN
2020-02-01  0.286139 -0.410330
2020-03-01  0.226851 -0.059288
2020-04-01  0.551315  0.324463
2020-05-01  0.719469  0.168154
2020-06-01  0.423106 -0.296363
2020-07-01  0.980764  0.557658
2020-08-01  0.684830 -0.295934
2020-09-01  0.480932 -0.203898
2020-10-01  0.392118 -0.088814
2020-11-01  0.343178 -0.048940
2020-12-01  0.729050  0.385872